In [13]:
import pandas as pd
from numpy import random
import matplotlib.pyplot as plt
import sys
import matplotlib

%matplotlib inline

In [14]:
print('Python version' + sys.version)
print('Pandas version' + pd.__version__)
print('Matplotlib version' + matplotlib.__version__)

Python version3.7.3 (default, Mar 27 2019, 16:54:48)
[Clang 4.0.1 (tags/RELEASE_401/final)]
Pandas version0.24.2
Matplotlib version3.0.3

In [15]:
# The initial set of baby names
names = ['Bob','Jessica','Mary', 'John', 'Mel']

In [16]:
#This will ensure the random samples below can be reproduced. 
#This means the random samples will always be identical

random.seed(500)
random_names = [names[random.randint(low = 0, high = len(names))] for i in range(1000)]

random_names[:10]

['Mary',
 'Jessica',
 'Jessica',
 'Bob',
 'Jessica',
 'Jessica',
 'Jessica',
 'Mary',
 'Mary',
 'Mary']

In [17]:
#The number of births per name for the year 1880
births = [random.randint(low = 0, high = 1000) for i in range(1000)]
births[:10]

[968, 155, 77, 578, 973, 124, 155, 403, 199, 191]

In [18]:
BabyDataSet = list(zip(random_names,births))
BabyDataSet[:10]

[('Mary', 968),
 ('Jessica', 155),
 ('Jessica', 77),
 ('Bob', 578),
 ('Jessica', 973),
 ('Jessica', 124),
 ('Jessica', 155),
 ('Mary', 403),
 ('Mary', 199),
 ('Mary', 191)]

In [19]:
df = pd.DataFrame(data = BabyDataSet, columns = ['Names','Births'])
df[:10]

     Names  Births
0     Mary     968
1  Jessica     155
2  Jessica      77
3      Bob     578
4  Jessica     973
5  Jessica     124
6  Jessica     155
7     Mary     403
8     Mary     199
9     Mary     191

In [23]:
#Export the dataframe to text file
df.to_csv('births1880.txt', index = False, header = False)

In [24]:
df = pd.read_csv('births1880.txt')

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 2 columns):
Mary    999 non-null object
968     999 non-null int64
dtypes: int64(1), object(1)
memory usage: 15.7+ KB